html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.hidden{
    display: none;
}

input{
    padding: 20px;
    display: block;
    margin: 20px 0;
    width: 90%;
    height: 20px;
    outline: none;
    transition: display ease-in-out 0.5s;
}

input.disabled {
    opacity: 0.5;
    border: none;
}

input:disabled{
    background-color: #fff;
}

.small-input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px 20px;
    width: 50%;
    padding-left: 0;
}

.input-wrapper{
    display: flex;
    width: 90%;
}

#premise-input{
    width: 90%;
}

.button-small{
    align-self: center;
    height: 30px;
    width: 10%;
}

.main-wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.inner-wrapper{
    border: 1px solid #e3e3e3;
    width: 90%;
    margin: 5px 0;
    padding: 5px;
}


li p{
    display: inline-block;
    padding: 0 10px;
    width: 30%;
    word-wrap: break-word;
    vertical-align: middle;
}

.expression{
    font-weight: bold;
}

.type{
    color: #757575;
    font-style: italic;
}